.root {
	-fx-base: rgb(57.0, 110.0, 132.0);
	-fx-background: rgb(57.0, 110.0, 132.0);
	-fx-control-inner-background: rgb(57.0, 110.0, 132.0);
	-fx-font-family: "Arial";
}

.tab {
	-fx-background-color: linear-gradient(to top, -fx-base, derive(-fx-base, 30.0%));
}

.menu-bar {
	-fx-background-color: linear-gradient(to bottom, -fx-base, derive(-fx-base, 30.0%));
}

.menu-button .label {
	-fx-text-fill: white;
}

.tool-bar:horizontal {
	-fx-background-color: linear-gradient(to bottom, derive(-fx-base, 50.0%),
		derive(-fx-base, -40.0%), derive(-fx-base, -20.0%));
}

.button {
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	-fx-background-radius: 6.0, 5.0;
	-fx-background-insets: 0.0, 1.0;
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 5.0,
		0.0, 0.0, 1.0);
	-fx-text-fill: #e4eac5;
}

.button:hover {
	-fx-background-color: -fx-shadow-highlight-color, -fx-outer-border,
		-fx-inner-border, -fx-body-color;
	-fx-color: -fx-hover-base;
}

.button:pressed {
	-fx-font-weight: bold;
}

.table-view {
	-fx-border-color: silver;
}

.table-column {
	-fx-alignment: CENTER;
}

.table-row-cell:selected {
	-fx-background-color: rgb(57.0, 110.0, 132.0);
	-fx-table-cell-border-color: rgb(65.0, 110.0, 130.0);
}

.label-error-condition {
	-fx-text-fill: rgb(245.0, 0.0, 0.0);
	-fx-font-weight: bold;
}

.label-attention-condition {
	-fx-text-fill: rgb(252, 78, 118);
	-fx-font-weight: bold;
}

.label-warn-condition {
	-fx-text-fill: rgb(17.0, 174.0, 244.0);
	-fx-font-weight: bold;
}

.label-notice-condition {
	-fx-font-weight: bold;
	-fx-text-fill: rgb(0.0, 212.0, 0.0);
}

.label-normal-condition {
	
}

.label-listing-condition {
	-fx-alignment: CENTER-LEFT;
}

.label-hello {
	-fx-effect: dropshadow(three-pass-box, rgba(0.0, 0.0, 0.0, 0.4), 5.0,
		0.0, 0.0, 1.0);
	-fx-text-fill: #e4eac5;
	-fx-font-size: 20;
}